<q-card dark>
  <q-card-section>
    <div class="text-h6">{{project.id?'Edit':'Create'}} Project</div>
  </q-card-section>
  <q-separator />

  <q-card-section style="max-height: 50vh" class="scroll">
    <q-form
      @reset="onReset"
      class="createProjectForm q-pa-sm col-xs-12 row"
      dark
    >
      <div class=" col-xs-12 col-md-8 col-lg-9 q-pa-md project--inputs">
        <div class="row">
          <div
            v-for="(input,index) in ['name', 'link']"
            :key="`project-${index}`"
            :class="`col-xs-12 col-md-6 q-pa-md`"
          >
            <q-input
              :key="`project-input-${index}`"
              dark
              filled
              v-model="project[input]"
              :label="input"
              :hint="`Add ${input}`"
              lazy-rules
              :rules="[ val => val && val.length > 0 || `Please add ${input}`]"
            >
              <template v-slot:append v-if="input === 'name'">
                <!-- <q-avatar square>
                    <q-img
                      v-if="project.logoPath"
                      :src="`${imageLink}/projects/image/${project.logoPath}`"
                      spinner-color="white"
                      style="max-width: 40px"
                    />
                  </q-avatar> -->
              </template>
            </q-input>
          </div>
          <div
            class=" col-xs-12 col-md-6 col-lg-6 q-pa-md"
            v-for="(input,index) in ['beginDate', 'endDate']"
            :key="`date-${index}`"
          >
            <q-input
              :key="`input-date-${index}`"
              dark
              filled
              v-model="project[input]"
              mask="####-##-##"
              :rules="[v => /^-?[\d]+\/[0-1]\d\/[0-3]\d$/.test(v) || `Please enter a valid ${input==='beginDate'?'begin date':'end date'}`]"
              :label="input==='beginDate'?'begin date':'end date'"
              :hint="`Enter a ${input==='beginDate'?'begin date':'end date'}`"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      landscape
                      dark
                      color="green"
                      v-model="project[input]"
                      @input="() => $refs.qDateProxy.hide()"
                    />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class=" col-xs-12 col-md-6 col-lg-12 q-pa-md">
            <q-select
              dark
              filled
              v-model="project.tags"
              use-chips
              :options="tags"
              :rules="[v => v.length || `Please don't forget to add tags`]"
              label="Multi with toggle"
              multiple
              map-options
              emit-value
            >
              <template v-slot:selected-item="scope">
                <q-chip
                  removable
                  dense
                  @remove="scope.removeAtIndex(scope.index)"
                  :tabindex="scope.tabindex"
                  color="white"
                  text-color="green"
                >
                  {{ scope.opt.name }}
                </q-chip>
              </template>
              <template v-slot:option="scope">
                <q-item
                  v-bind="scope.itemProps"
                  v-on="scope.itemEvents"
                  style="background: #565656;"
                >
                  <q-item-section>
                    <q-item-label v-html="scope.opt.name"></q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <q-toggle v-model="project.tags" :val="scope.opt" />
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
          </div>
          <div
            class=" col-xs-12 col-md-6 col-lg-6 q-pa-md"
            v-for="(input,index) in ['category','company']"
            :key="`${input}-${index}`"
          >
            <q-select
              :key="`select-${input}-${index}`"
              dark
              filled
              v-model="project[input]"
              use-chips
              :options="input === 'company'?companies:categories"
              :rules="[v => !!v || `Please don't forget to add a ${input}`]"
              :label="`Select a ${input}`"
              map-options
              emit-value
            >
              <template v-slot:selected-item="scope">
                <q-chip
                  removable
                  dense
                  @remove="scope.removeAtIndex(scope.index)"
                  :tabindex="scope.tabindex"
                  color="white"
                  text-color="green"
                >
                  {{ scope.opt.name }}
                </q-chip>
              </template>
              <template v-slot:option="scope">
                <q-item
                  v-bind="scope.itemProps"
                  v-on="scope.itemEvents"
                  style="background: #565656;"
                >
                  <q-item-section>
                    <q-item-label v-html="scope.opt.name"></q-item-label>
                  </q-item-section>
                  <q-item-section
                    v-if="scope.opt.logoPath"
                    side
                    style="display: flex;
                      width: 40px;
                      padding: 0;
                      padding: 5px;
                      background: rgb(255, 255, 255);
                      border: 1px solid rgb(84, 84, 84);
                      border-radius: 5px;
                    "
                  >
                    <q-img
                      v-if="scope.opt.logoPath"
                      :src="scope.opt.logoPath.startsWith('http')?scope.opt.logoPath:`${link_API}/images/${scope.opt.logoPath?target:company}`"
                      spinner-color="white"
                      contain
                      style="
                        width: 100%;
                      "
                    />
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
          </div>
          <div class=" col-xs-12 col-md-6 col-lg-12 q-pa-md">
            <q-editor
              dark
              v-model="project.description"
              min-height="5rem"
              class="bg-transparent"
            />
          </div>
        </div>
      </div>
      <div class=" col-xs-12 col-md-4 col-lg-3 q-pa-md project--image">
        <div class="row" style="height: 100%;">
          <div class=" col-xs-12 col-md-12 col-lg-12 q-pt-md q-pb-md">
            <q-uploader
              dark
              multiple
              label="Filtered (png only)"
              :filter="checkFileType"
              accept="image/png"
              style="max-width: 100%; overflow: hidden;height: 100%;background: #565656;max-height: 100%;"
              @added="(e) => checkFile(e)"
              hide-upload-btn
              @removed="(e) => checkFile(e)"
              color="red"
              text-color="white"
            >
              <template v-slot:header="scope">
                <div
                  :style="{background:project.backgroundColor !== '#fff'?project.backgroundColor:'red'}"
                  class="row no-wrap items-center q-pa-sm q-gutter-xs"
                >
                  <q-btn
                    v-if="scope.queuedFiles.length > 0"
                    icon="clear_all"
                    @click="(e) => {
                      scope.removeQueuedFiles;
                    }"
                    round
                    dense
                    flat
                  >
                    <q-tooltip>Clear All</q-tooltip>
                  </q-btn>
                  <q-btn
                    v-if="scope.uploadedFiles.length > 0"
                    icon="done_all"
                    @click="scope.removeUploadedFiles"
                    round
                    dense
                    flat
                  >
                    <q-tooltip>Remove Uploaded Files</q-tooltip>
                  </q-btn>
                  <div class="col">
                    <div class="q-uploader__title">Upload your files</div>
                    <div class="q-uploader__subtitle">
                      {{ scope.uploadSizeLabel }} / {{ scope.uploadProgressLabel
                      }}
                    </div>
                  </div>
                  <q-btn
                    v-if="scope.canAddFiles"
                    type="a"
                    icon="add_box"
                    @add="(e) => {
                      scope.removeQueuedFiles;
                    }"
                    round
                    dense
                    flat
                  >
                    <q-uploader-add-trigger />
                    <q-tooltip>Pick Files</q-tooltip>
                  </q-btn>
                  <!-- <q-btn
                    v-show="false"
                    v-if="scope.canUpload"
                    icon="cloud_upload"
                    @click="scope.upload"
                    round
                    dense
                    flat
                  >
                    <q-tooltip>Upload Files</q-tooltip>
                  </q-btn> 
                  <q-btn
                    v-if="scope.isUploading"
                    icon="clear"
                    @click="scope.abort"
                    round
                    dense
                    flat
                  >
                    <q-tooltip>Abort Upload</q-tooltip>
                  </q-btn>
                  -->
                </div>
              </template>
              <template v-slot:list="scope">
                <q-list separator>
                  <q-item v-for="(file, index) in scope.files" :key="file.name">
                    <q-item-section>
                      <q-item-label class="full-width ellipsis">
                        {{ file.name }}
                      </q-item-label>

                      <q-item-label caption>
                        Main image: {{project.mainImage === file.name}}
                      </q-item-label>
                      <q-toggle
                        :value="project.mainImage === file.name"
                        v-model="projectImages[index].selected"
                        @input="(e)=>{
                          project.mainImage = file.name;
                          projectImages = projectImages.map(projectImage => {
                            if (projectImage.file.name === file.name){
                              projectImage.selected = true;
                            }else{
                              projectImage.selected = false;
                            }
                            return projectImage;
                          })
                        }"
                      />
                    </q-item-section>

                    <q-item-section v-if="file.__img" thumbnail class="gt-xs">
                      <img :src="file.__img.src" style="width: auto;" />
                    </q-item-section>

                    <q-item-section top side>
                      <q-btn
                        class="gt-xs"
                        size="12px"
                        flat
                        dense
                        round
                        icon="delete"
                        @click="(e) => {
                          projectImages = projectImages.filter(projectImage => projectImage.file.name !== file.name);
                          if (!projectImages.filter(projectImage => projectImage.selected).length){
                            projectImages[0].selected = true;
                            project.mainImage = projectImages[0].file.name;
                          }
                          scope.removeFile(file);
                        }"
                      />
                    </q-item-section>
                  </q-item>
                </q-list>
              </template>
            </q-uploader>
          </div>
        </div>
      </div>
    </q-form>
  </q-card-section>

  <q-separator />

  <q-card-actions align="right">
    <q-btn
      label="Submit"
      type="submit"
      color="green"
      @click="saveProject()"
      :loading="isCreatingProject"
      :percenprojecte="loadingPercentage"
      :disabled="!checkIfCanSaveProject"
    />
    <q-btn label="Reset" type="reset" color="green" flat class="q-ml-sm" />
    <!-- <q-btn flat label="Decline" color="primary" v-close-popup />
      <q-btn flat label="Accept" color="primary" v-close-popup /> -->
  </q-card-actions>
</q-card>
<!-- <div>
    <div class="full-width row justify-center q-pa-md">
    </div>
  </div> -->
