<div class=" col-xs-12 col-md-4 q-pa-md">
  <q-card
    horizontal
    bordered
    class="my-card"
    flat
  >
    <q-img
      v-if="true"
      :src="project.cloudImageUrlPrefix+project.mainImage"
      :ratio="1"
      class="col-5"
      style="max-width: 100%; max-height: 200px;"
      :placeholder-src="imgHolder"
    />
    <q-list>
      <q-item clickable>
        <q-item-section avatar>
          <q-icon color="grey" name="subject" />
        </q-item-section>

        <q-item-section>
          <q-item-label class="text-black" >{{project.name}}</q-item-label>
          <q-item-label class="text-grey-6 ellipsis-2-lines" caption>{{project.description}}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item clickable>
        <!-- <q-item-section avatar>
          <q-icon color="amber" name="local_movies" />
        </q-item-section> -->

        <div class="flex" style="position: relative;">
            <TagComponent :noTooltip="true" style="zoom: 0.6; position: relative;" v-for="(tag,i) in project.tags" :tag="tag" :key="i"></TagComponent>
        </div>
      </q-item>
    </q-list>
  </q-card>
</div>
